.home {
  text-align: center;
  /* background-color: #333; */
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  /* height:220px; */
  min-width: 190px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* flex: 1 0 300px; */
  /* background-color: white; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
  width: 100%;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}
.btn-1 {
  background-color: royalblue;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 7px;
  font-weight: normal;
  cursor: pointer;
}
.detail-btn {
  background-color: rgb(21, 134, 154);
  color: white !important;
}
.btn {
  font-weight: bold;
  cursor: pointer;
}
/* .btn:focus {
  background-color: black;
  color: white;
} */

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product-box {
  /* height:35rem; */
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.product-box:hover .hover-cart {
  transform: translateY(-4.1rem);
  opacity: 1;
}
.product-box:hover img {
  transform: scale(1.1);
}
.product-box .discount {
  background-color: #ffebf4;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: var(--pink);
  padding: 1rem;
  z-index: 10;
}
.image-container {
  position: relative;
  overflow: hidden;
  /* background-color: green; */
  width: 100%;
  text-align: center;
}
.product-box img {
  height: 28rem;
  padding-top: 2rem;
  position: relative;
  /* border:1px solid black; */
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.product-box .hover-cart {
  background-color: var(--pink);
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  position: absolute;

  /* bottom:-4.1rem; */
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
  /* overflow: hidden; */
}

.product-box .title {
  font-size: 2.4rem;
  padding-top: 1rem;
  font-weight: 600;
}
.product-box .price {
  padding: 1rem;
  font-size: 1.8rem;
  color: #666;
  /* text-decoration: line-through; */
}
.product-box .price .a {
  color: var(--pink);
  font-size: 2.6rem;
  text-decoration: none;
}
.product-box .price .b {
  text-decoration: line-through;
}

.box-flex {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-between;
}

.box-flex-middle {
  margin: 10px;
  padding: 10px;

  /* border-radius:15px ; */
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  flex: 1 1 200px;
  transition: all 0.3s ease-in-out;
}
.box-flex-middle:hover {
  border: 0.5px solid #666;
}

.box-flex-middle-icons {
  display: none;
  transition: all 0.3s ease-in-out;
}
.box-flex-middle:hover .box-flex-middle-icons {
  display: block;
}

.box-flex-middle div {
  /* display: flex; */
  /* justify-content: space-between; */
}

.box-flex-middle h4 {
  font-size: 14px;
  height: 50px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  /* word-break:break-word; */
  /* word-wrap:break-word; */
  line-height: 1.5rem;
}

.box-flex-middle img {
  inline-size: 202px;
  block-size: 202px;
  margin: auto;
}
.start-chage-size {
  display: flex;
  justify-content: flex-start;
}
.start-chage-size div {
  display: flex;
}

@media screen and (max-width: 480px) {
  .box-flex {
    justify-content: space-evenly;
  }
  .box-flex-middle {
    width: 160px;
    /* height: 200px; */
    /* justify-content: space-between; */
  }
  .box-flex-middle img {
    height: 150px;
    margin: auto;
    display: block;
    text-align: center;
  }
  .box-flex-middle div {
    text-align: center;
  }
  .box-flex-middle a {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    /* margin-bottom: 2px; */
    align-self: flex-end;
  }
  .start-chage-size div span,
  .start-chage-size p {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  .box-flex {
    /* justify-content: start; */
    padding: auto;
    margin: 10px;
  }
  .box-flex-middle {
    width: 150px;
    padding: auto;
    padding: 0;
    text-indent: 5px;
  }
  .box-flex-middle img {
    width: 138px;
    height: 138px;
    margin: auto;
  }

  .box-flex-middle a {
    white-space: nowrap;
  }
  .box-flex-middle p {
    text-align: center;
  }

  .start-chage-size div span,
  .start-chage-size p {
    display: none;
  }
}
