header {
  background-color: aliceblue !important;
  width: 100%;
}

.header-action-btn {
  position: relative;
}

.header-action-btn .btn-badge {
  position: absolute;
  top: -15px;
  right: 0;

  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  line-height: 0;
  font-size: 13px;
  color: var(--white);
  border-radius: 50%;
}
